@page "/servers"
<!-- this page directive is what makes the component routable -->

<h3>Servers</h3>
<br>

<ServerComponent></ServerComponent> 
<ServerComponent></ServerComponent> 

@code {

}
